.btn {
    border: none;
    outline: none !important;
    margin: 1px;
    border-radius: $RADIUS !important;

    &:hover, &:active, &:focus {
        outline: none !important;
    }
}

.btn-primary {
    @extend .active-hover;
    border: 1px solid $THEME_COLOR_PRIMARY !important;

    &:hover, &:active {
        box-shadow: none !important;
        border: 1px solid $THEME_COLOR_PRIMARY !important;
        @extend .active-generic;
    }
}

.btn-danger {
    background-color: $DANGER;
    color: $THEME_COLOR_TEXT;

    &:hover, &:active {
        background-color: $DANGER_ACTIVE;
        color: $THEME_COLOR_TEXT;
    }
}