@import "_variables.scss";

footer {
    $fontSize: $BASE_FONT_SIZE - 2;
    $padding: $fontSize * 0.3;
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: $THEME_COLOR_LIGHT;
    text-align: center;
    font-size: $fontSize;
    color: $THEME_COLOR_PRIMARY;
    border-top: 1px solid $THEME_COLOR_PRIMARY;
}