$ORANGE_LIGHT: #FFC312;
$ORANGE: #F79F1F;
$ORANGE_DARK: #EE5A24;
$RED: #EA2027;

$GREEN: #A3CB38;
$GREEN_LIGHT: #C4E538;
$GREEN_DARK: #009432;
$AQUA: #006266;

$BLUE_LIGHT: #12CBC4;
$BLUE: #1289A7;
$BLUE_INTENSIVE: #0652DD;
$BLUE_DARK: #1B1464;

$LAVENDER_LIGHT: #FDA7DF;
$LAVENDER: #D980FA;
$LAVENDER_INTENSIVE: #9980FA;
$LAVENDER_DARK: #5758BB;

$BERRY_LIGHT: #ED4C67;
$BERRY: #B53471;
$BERRY_INTENSIVE: #833471;
$BERRY_DARK: #6F1E51;

$WHITE: #ffffff;
$BLACK: #000000;

$GREY_LIGHT: #f7f7f7;
$GREY_DARK: #a0a0a0;

$BACKGROUND_COLOR: $WHITE;
$BACKGROUND_COLOR_ACTIVE: $GREY_LIGHT;
$THEME_COLOR_TEXT: $WHITE;
$THEME_COLOR_PRIMARY: $LAVENDER_INTENSIVE;
$THEME_COLOR_ACTIVE: #8E4E8B;
$THEME_COLOR_LIGHT: $WHITE;
$THEME_COLOR_ACTIVE_RGBA: rgba(255, 255, 255, 1);
$DANGER: $RED;
$DANGER_ACTIVE: $ORANGE_DARK;
$BASE_FONT_SIZE: 14pt;

$RADIUS: 0.25rem;
